body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

.contener{
    display: flex;
    width: 100%;
    height: 85px;
    background-color: grey;
    justify-content: center;
    
}

nav {
    position: fixed;
    justify-content: space-between;
    display: flex;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: black;
    align-items: center;
}

nav .brend{
    display: flex;
    gap: 5px;
    padding: 10px;
}

nav .brend .ke1{
    font-family: "Bookman Old style", serif;
    color: white;
    font-size: 18px;
}
nav .brend .ke2{
    font-family: "Bookman Old style", serif;
    font-size: 18px;
    color: tomato;
}

nav .menu{
    display: flex;
    gap: 10px;
    padding: 10px;
}
nav .menu li{
    list-style-type: none;
}
nav .menu li a{
    text-decoration: none;
   color: white;
}

nav .menu .bot{
    display: none;
    list-style-type: none;
}
nav .menu .servis{
    list-style-type: none;
    display: none;
}

nav ul li:hover .bot{
    display: block;
    position: absolute;
    padding: 10px;
    background-color: tomato;
    margin-top: 30px;
   font-size: 20px;
   border-radius: 10px;
}
nav ul li:hover .servis{
    color: white;
    display: block;
    position: absolute;
    padding: 10px;
    background-color: tomato;
    margin-top: 30px;
   font-size: 20px;
   border-radius: 10px;
}

nav .menu .bot li a{
    color: white;
    font-family: "Bookman Old style", serif;
}

nav .menu .servis li a{
    color: white;
    font-family: "Bookman Old style", serif;
    
}

.harga h1{
    font-family: "Bookman Old style", serif;
    color: rgb(233, 71, 17);
}
.harga h3{
    color: whitesmoke;
}
.harga h4{
    color: whitesmoke;
}
.hrg{
    margin: 50px;
    background-color: black;
    border-radius: 15px;
}

.fitur{
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}
.fitur h2{
    color: rgb(233, 71, 17);
    font-family: "Bookman Old style", serif;
}
.fitur h3{
    padding: 5px;
}

.pay{
    color: whitesmoke;
    background-color: black;
    border-radius: 10px;
}
.pay h1{
    font-family: "Bookman Old style", serif;
    color: rgb(233, 71, 17);
}

.pay img{
    width: 50vh;
    border-radius: 10px;
}

.pay pre{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.pay .qr{
    border-radius: 25px;
}

.pay .trx{
    font-family: "Bookman Old style", serif;
    color: rgb(233, 71, 17);
}

.get{
    background-color: black;
    margin: 35px;
    border-radius: 10px;
    padding: 2px;
}
.get h2 a{
    color: rgb(233, 71, 17);
    font-size: 28px;
    text-decoration: none;
}

.copy p{
    font-size: 14px;
    color: whitesmoke;
}